/**
 * A generix panel-like box to be used as a container around content
 * that needs to stand out.
 *

	<div class='box'>
		<div class='box__head'>
			This is a <em>big</em> box.
		</div>

		<div class='box__body'>
			Look at my big body
		</div>
	</div>

 */

.box {
	@extend %box--default;

	.box__head {
		padding: 10px;
	}

	.box__body {
		padding: 10px;
	}
}

/**
 * Box default skin
 */
%box--default {
	border: $box_border;
	border-radius: $box_borderRadius;
	width: 500px;

	.box__head {
		font-weight: $box__head_fontWeight;
		background-color: $box__head_backgroundColor;
		color: $box__head_text_color;
	}

	.box_body {
		font-weight: $box__body_fontWeight;
		background-color: $box__body_backgroundColor;
		color: $box__body_text_color;
	}

	.box__link {
		color: $box__body_link_color;
	}
}

/**
 * Makes the box smaller
 */
.box--small {
	border: $box--small_border;
	border-radius: $box--small_borderRadius;

	margin: 20px;
	width: 400px;
}

/**
 * Makes the box larger
 */
.box--large {
	border: $box--large_border;
	border-radius: $box--large_borderRadius;

	margin: 20px;
	width: 600px;
}

/**
 * Gives the box an accented skin
 */
.box--accent {
	border: $box--accent_border;

	.box__head {
		background-color: $box--accent__head_backgroundColor;
		color: $box--accent__head_text_color;
	}

	.box__body {
		background-color: $box--accent__head_backgroundColor;
		color: $box--accent__body_text_color;
	}
}