@import 'parameter';


/* Standar stuff */


BODY {
	margin:0px;
	font-family:sans-serif;
}


/* Skin */


.-header- {
	background-color:$headerBackgroundColor;
	color:$headerTextColor;

	.__clickable {
		color:$headerTextColor;
	}
}


.-main- {
	border:$mainBorder;
	background-color:$mainBackgroundColor;
	color:$mainTextColor;

	.__clickable {
		color:$mainClickableColor;
	}
}


.-content- {
	border:$contentBorder;
	background-color:$contentBackgroundColor;
	color:$contentTextColor;

	.__clickable {
		color:$contentClickableColor;
	}
}


.-accent- {
	border:$accentBorder;
	background-color:$accentBackgroundColor;
	color:$accentTextColor;

	.__clickable {
		color:$accentClickableColor;
	}
}


/* BEM */ 


.header {
	font-size:120%;
	padding:20px;
}


.page-content {
	padding:20px;
}


.box-big {
	margin:auto;
	width:70%;
	padding:20px;

	.box-small__heading {
		font-weight:bold;
	}
}


.box-small {
	margin:20px;
	width:400px;
	padding:20px;

	.box-small__heading {
		font-weight:bold;
	}
}

