$headerBackgroundColor:		#faa;
$headerTextColor:			black;
$headerClickableColor:		#500;

$contentBorder:				solid #aaa 1px;
$contentBackgroundColor:	#e7e7e7;
$contentTextColor:			#555;
$contentClickableColor:		black;

$mainBorder:				solid #aaa 1px;
$mainBackgroundColor:		#555;
$mainTextColor:				#fff;
$mainClickableColor:		#faa;

$accentBorder:				dotted red 3px;
$accentBackgroundColor:		#000;
$accentTextColor:			#f55;
$accentClickableColor:		#f00;

