/*!
 * SCAFFOLDING
 */
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $body_fontFamily;
	font-size: $body_fontSize;
	line-height: $body_lineHeight;
	color: $body_textColor;
	background-color: $body_backgroundColor;
}

html, body {
	height: 100%;
}