@debug 'Default parameters';
/*!
 * PARAMETERS
 *
 * By suffixing each variable declaration with '!default' Sass will only declare the variable if
 * it's currently undefined. This makes it possible to first declare a specific customer variable.
 * Customer parameters can be declared in `customer/{{customerName}}/scss/_customer_parameters.scss`
 *
 *	Will allways follow one of these patterns:
 *		BLOCK_CSSMODIFIER
 *		BLOCK_DETAIL_CSSMODIFIER
 *
 *		BLOCK__ELEMENT_CSSMODIFIER
 *		BLOCK__ELEMENT_DETAIL_CSSMODIFIER
 *
 *		BLOCK__ELEMENT--ELEMENTMODIFIER_CSSMODIFIER
 *		BLOCK__ELEMENT--ELEMENTMODIFIER_DETAIL_CSSMODIFIER
 *
 *		BLOCK--BLOCKMODIFIER__ELEMENT_CSSMODIFIER
 *		BLOCK--BLOCKMODIFIER__ELEMENT_DETAIL_CSSMODIFIER
 *
 *		BLOCK--BLOCKMODIFIER__ELEMENT--ELEMENTMODIFIER_CSSMODIFIER
 *		BLOCK--BLOCKMODIFIER__ELEMENT--ELEMENTMODIFIER_DETAIL_CSSMODIFIER
 *
 *	Rules to deduce what a fragment in a SCSS variable name is name for:
 *		If it is first, it is the block name.
 *		If it prefixed by '__', it is an element name.
 *		If it comes directly after the block name and is prefixed by '--', it is a block modifier name.
 *		If it comes after an element name and is prefixed by '--', it is a element modifier name.
 *		If it is prefixed by '_' it is a CSS detail name. Example: "text", "link", ...
 *		If it is last, it is a CSS-attribute name.
*/

// Colors
// ==========================================

// Block state colors
$successColor:							hotPink !default;
$errorColor:							hotPink !default;
$warningColor:							hotPink !default;
$noticeColor:							hotPink !default;

$primaryColor:							hotPink !default;
$secondaryColor:						hotPink !default;
$tentativeColor:						hotPink !default;

// Block colors
$body_textColor:						#333 !default;
$body_backgroundColor:					#fff !default;

// Typography
// ==========================================
$baseFontSize:							14px !default;

$body_fontFamily:						'Helvetica Neue', Arial, sans-serif !default;
$body_fontSize:							$baseFontSize !default;
$body_lineHeight:						1.2 !default;

$h1_fontSize:							$baseFontSize * 2.2 !default;
$h2_fontSize:							$baseFontSize * 2 !default;
$h3_fontSize:							$baseFontSize * 1.8 !default;
$h4_fontSize:							$baseFontSize * 1.6 !default;
$h5_fontSize:							$baseFontSize * 1.4 !default;
$h6_fontSize:							$baseFontSize * 1.2 !default;

// Containers
// ==========================================
$header_backgroundColor:				#faa !default;
$header_text_color:						black !default;

$content_backgroundColor:				#bbb !default;
$content_text_color:					white !default;

$footer_backgroundColor:				#744 !default;
$footer_text_color:						black !default;

// Boxes
// ==========================================
$box_border:							solid 2px red !default;
$box_borderRadius:						4px !default;
$box__head_fontWeight:					bold !default;
$box__head_backgroundColor:				white !default;
$box__head_text_color:					#600 !default;
$box__body_fontWeight:					normal !default;
$box__body_backgroundColor:				white !default;
$box__body_text_color:					#555 !default;
$box__body_link_color:					#373 !default;
$box--small_border:						solid black 8px !default;
$box--small_borderRadius:				8px !default;
$box--large_border:						solid gray 8px !default;
$box--large_borderRadius:				10px !default;
$box--accent_border:					solid white 8px !default;
$box--accent__head_backgroundColor: 	black !default;
$box--accent__body_backgroundColor:		black !default;
$box--accent__head_text_color:			white !default;
$box--accent__body_text_color:			white !default;

// Buttons
// ==========================================
$btn--primary_backgroundColor:			$primaryColor !default;