@debug 'Customer B parameters';
// Parameter overrides for Custom B
$primaryColor:							orange;

$header_backgroundColor:				#faa;
$header_text_color:						black;

$content_backgroundColor:				#bbb;
$content_text_color:					white;

$footer_backgroundColor:				#744;
$footer_text_color:						black;

$box_border:							none;
$box_borderRadius:						4px;
$box__head_fontWeight:					bold;
$box__head_backgroundColor:				white;
$box__head_text_color:					#600;
$box__body_fontWeight:					normal;
$box__body_backgroundColor:				white;
$box__body_text_color:					#555;
$box__body_link_color:					#373;
$box--small_border:						solid black 8px;
$box--small_borderRadius:				8px;
$box--large_border:						solid gray 8px;
$box--large_borderRadius:				10px;
$box--accent_border:					solid white 8px;
$box--accent__head_backgroundColor: 	black;
$box--accent__body_backgroundColor:		black;
$box--accent__head_text_color:			white;
$box--accent__body_text_color:			white;
