$headerBackgroundColor:		black;
$headerTextColor:			white;
$headerClickableColor:		#77f;

$contentBorder:				solid #aaa 1px;
$contentBackgroundColor:	#e7e7e7;
$contentTextColor:			#555;
$contentClickableColor:		black;

$mainBorder:				solid #aaa 1px;
$mainBackgroundColor:		white;
$mainTextColor:				#555;
$mainClickableColor:		black;

$accentBorder:				solid #555 1px;
$accentBackgroundColor:		#aaa;
$accentTextColor:			#333;
$accentClickableColor:		black;

