/**
 * Content container
 *

	<div class="box">
		<div class='box'> ... </div>
		<div class='box'> ... </div>
	</div>

 */
.content {
	width: 70%;
	margin: auto;
	padding: 20px;
	background-color: $content_backgroundColor;
	color: $content_text_color;
}