/*!
 * TYPOGRAPHY
 */
body {
	font-family: $body_fontFamily;
	font-size: $body_fontSize;
	line-height: $body_lineHeight;
}

h1, .h1 {
	font-size: $h1_fontSize;
}
h2, .h2 {
	font-size: $h2_fontSize;
}
h3, .h3 {
	font-size: $h3_fontSize;
}
h4, .h4 {
	font-size: $h4_fontSize;
}
h5, .h5 {
	font-size: $h5_fontSize;
}
h6, .h6 {
	font-size: $h6_fontSize;
}
