/*
	Naming
		Block
			Lower case, dash-separated.
				Example: 
					'some-block'

		Element
			Lower case, dash-separated. Prefixed by '__'.
				Example: 
					'__some-element'

		Modifier
			Lower case, dash-separated. Prefixed by '--'.
				Example: 
					'--some-modifier'

		SCSS variables
			Will allways follow one of these patterns:
				BLOCK_CSSATTRIBUTE
				BLOCK_DETAIL_CSSATTRIBUTE

				BLOCK__ELEMENT_CSSATTRIBUTE
				BLOCK__ELEMENT_DETAIL_CSSATTRIBUTE

				BLOCK__ELEMENT--ELEMENTMODIFIER_CSSATTRIBUTE
				BLOCK__ELEMENT--ELEMENTMODIFIER_DETAIL_CSSATTRIBUTE

				BLOCK--BLOCKMODIFIER__ELEMENT_CSSATTRIBUTE
				BLOCK--BLOCKMODIFIER__ELEMENT_DETAIL_CSSATTRIBUTE

				BLOCK--BLOCKMODIFIER__ELEMENT--ELEMENTMODIFIER_CSSATTRIBUTE
				BLOCK--BLOCKMODIFIER__ELEMENT--ELEMENTMODIFIER_DETAIL_CSSATTRIBUTE

			Rules to deduce what a fragment in a SCSS variable name is name for:
				If it is first, it is the block name.
				If it prefixed by '__', it is an element name.
				If it comes directly after the block name and is prefixed by '--', it is a block modifier name.
				If it comes after an element name and is prefixed by '--', it is a element modifier name.
				If it is prefixed by '_' it is a CSS detail name. Example: "text", "link", ...
				If it is last, it is a CSS-attribute name.
*/


@import 'parameter';


/* Standard stuff */


BODY {
	margin:			0px;
	font-family:	sans-serif;
}


/* 
	Block 'header' 
*/


.header {
	padding:			20px;
	font-size:			120%;
	background-color:	$header_backgroundColor;
	color:				$header_text_color;
}


/*
	Block 'content' 
*/


.content {
	width:				70%;
	margin: 			auto;
	padding:			20px;
	background-color:	$content_backgroundColor;
	color:				$content_text_color;
}


/* 
	Block 'footer' 
*/


.footer {
	padding:			20px;
	font-size:			120%;
	background-color:	$footer_backgroundColor;
	color:				$footer_text_color;
}


/* 
	Block 'box' 
	
	Modifiers
		small
		accent	
*/


.box {
	margin:			auto;
	border:			$box_border;
	border-radius: 	$box_borderRadius;
	width:			70%;

	.box__head {
		padding: 			10px;
		font-weight:		$box__head_fontWeight;
		background-color:	$box__head_backgroundColor;
		color:				$box__head_text_color;
	}

	.box__body {
		padding: 			10px;
		font-weight:		$box__body_fontWeight;
		background-color:	$box__body_backgroundColor;
		color:				$box__body_text_color;
	}

	.box__link {
		color:	$box__body_link_color;		
	}
}


.box--small {
	border:			$box--small_border;
	border-radius:	$box--small_borderRadius;

	margin:		20px;
	width:		400px;
}


.box--accent {
	border:	$box--accent_border;

	.box__head {
		background-color:	$box--accent__head_backgroundColor;
		color:				$box--accent__head_text_color;
	}

	.box__body {
		background-color:	$box--accent__body_backgroundColor;
		color:				$box--accent__body_text_color;
	}
}

