$header_backgroundColor:			black;
$header_text_color:					white;

$content_backgroundColor:			white;
$content_text_color:				#777;

$footer_backgroundColor:			black;
$footer_text_color:					white;

$box_border:						none;
$box_borderRadius:					0px;
$box__head_fontWeight:				bold;
$box__head_backgroundColor:			white;
$box__head_text_color:				black;
$box__body_fontWeight:				normal;
$box__body_backgroundColor:			white;
$box__body_text_color:				#555;
$box__body_link_color:				#373;
$box--small_border:					solid #eee 1px;
$box--small_borderRadius:			0px;
$box--accent_border:				solid black 2px;
$box--accent__head_backgroundColor:	#444;
$box--accent__head_text_color:		white;
$box--accent__body_backgroundColor:	#555; 
$box--accent__body_text_color:		#bbb;


